<section class="field">
  <div class="bankerResultField" 
       *ngIf="showGameResult">
    {{ players.bankerResult }}
  </div>

  <div class="cardsWrapper">
    <div class="bankerCards" 
         *ngFor="let card of players.bankerCards">
      <img [src]="'/assets/back.jpg'" 
          *ngIf="!showGameResult" />

      <img [src]="'/assets/' + card.suit + '_' + card.name + '.png'" 
           *ngIf="showGameResult" />
    </div>
  </div>

  <div class="allGameResult" 
       *ngIf="showGameResult">
    {{ gameResult }}
  </div>

  <div class="buttons" 
       *ngIf="actionButtonsAreShown">
    <button type="button" 
            [disabled]="showGameResult" 
            (click)="giveNewCards()">
        Take
    </button>

    <button type="button" 
            [disabled]="showGameResult" 
            (click)="stoppedTakingCards.emit()">
        Stop
    </button>
  </div>

  <div class="cardsWrapper">
    <div class="gamerCards" 
         *ngFor="let card of players.gamerCards">
      <img [src]="'/assets/' + card.suit + '_' + card.name + '.png'" />
    </div>
  </div>

  <div class="gamerResultField">
    {{ players.gamerResult }}
  </div>
</section>