
a {
width: 200px;
height: 100px;
margin: auto;
border-radius: 5px;
margin: 0 5px;
box-shadow: 0 0 0.1pt 0.1pt #4d4d4d;
font-weight: bold; 
font-size: 25px;
margin: 0 auto;
color: antiquewhite;
text-decoration: none;
text-align: center;
}

div {
    width: 100%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

