<game-sidebar 
              [startText]="startGameText" 
              [isStartButtonShown]="startButtonIsShown" 
              (newGameStarted)="startGame()">
</game-sidebar>

<game-field-component  
                      [actionButtonsAreShown]="actionButtonsAreShown" 
                      [showGameResult]="showGameResult" 
                      [gameResult]="gameResult" 
                      [players] = "players"
                      (gaveCards)="giveCards()" 
                      (stoppedTakingCards)="stopTakingCards()">
</game-field-component>

